<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <title>Tetris</title>
    <script type="text/javascript" src="tetris.js"></script>
    <link rel="stylesheet" type="text/css" href="tetris.css">
</head>
<body id="body">
        <h3 >Tetris</h3>
        <div class="blue">
            &nbsp;
            <div class="speedscore">
                Speed: <span id="curSpeedEle"></span>
                Score: <span id="curScoreEle"></span>
            </div>
            <div class="maxscore">
                Records <span id="maxScoreEle"></span>
            </div>
        </div>
</body>
</html>